### Import the needed packages

In [175]:
from dotenv import load_dotenv
import os
import snowflake.connector
from snowflake.connector.errors import ProgrammingError

load_dotenv()

True

**Create the connection**

In [176]:
conn = snowflake.connector.connect(
    user=os.getenv('SNOWFLAKE_USER'),
    password=os.getenv('SNOWFLAKE_PASSWORD'),
    account=os.getenv('SNOWFLAKE_ACCOUNT'),
    warehouse=os.getenv('SNOWFLAKE_WAREHOUSE'),
    database=os.getenv('SNOWFLAKE_DATABASE'),
    schema=os.getenv('SNOWFLAKE_SCHEMA'),
    # private_key=os.getenv('SNOWFLAKE_PRIVATE_KEY'),
    session_parameters={
        'QUERY_TAG': 'snow-test',
    }
)

**Creating a Database, Schema, and Warehouse** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#creating-a-database-schema-and-warehouse)

In [177]:
conn.cursor().execute("ALTER SESSION SET QUERY_TAG = 'snow-test'")

conn.cursor().execute("CREATE WAREHOUSE IF NOT EXISTS tiny_warehouse_mg")
conn.cursor().execute("CREATE DATABASE IF NOT EXISTS testdb_mg")
conn.cursor().execute("USE DATABASE testdb_mg")
conn.cursor().execute("CREATE SCHEMA IF NOT EXISTS testschema_mg")

**Using the Database, Schema, and Warehouse** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#using-the-database-schema-and-warehouse)

In [178]:
conn.cursor().execute("USE WAREHOUSE tiny_warehouse_mg")
conn.cursor().execute("USE DATABASE testdb_mg")
conn.cursor().execute("USE SCHEMA testdb_mg.testschema_mg")

**Creating Tables and Inserting Data** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#creating-tables-and-inserting-data)

In [179]:
conn.cursor().execute(
    "CREATE OR REPLACE TABLE "
    "test_table(col1 integer, col2 string)")

conn.cursor().execute(
    "INSERT INTO test_table(col1, col2) VALUES " + 
    "    (123, 'test string1'), " + 
    "    (456, 'test string2')")

**Loading data** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#loading-data)


Instead of inserting data into tables using individual INSERT commands, 
you can bulk load data from files staged in either an internal or external location.


**Copying Data from an Internal Location**

In [180]:
try:
    conn.cursor().execute(
        "CREATE OR REPLACE TABLE "
        "mock_data(id integer, first_name string, last_name string, email string, gender string, ip_address string)")

    conn.cursor().execute("PUT file:///home/softsuave/project/snowflake/tmp/data/MOCK_DATA.csv @%mock_data")
    conn.cursor().execute("COPY INTO mock_data")
except Exception as ex:
    print(ex)

**Copying Data from an External Location** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#copying-data-from-an-external-location)

In [181]:
try:
    # Copying Data
    conn.cursor().execute("""
    COPY INTO testtable FROM s3://<s3_bucket>/data/
        STORAGE_INTEGRATION = myint
        FILE_FORMAT=(field_delimiter=',')
    """.format(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY))
except Exception as ex:
    print(ex)

name 'AWS_ACCESS_KEY_ID' is not defined

**Querying Data** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#querying-data)


With the Snowflake Connector for Python, you can submit:

    1.a synchronous query, which returns control to your application after the query completes.

    2.an asynchronous query, which returns control to your application before the query completes.

After the query has completed, you use the Cursor object to fetch the values in the results. 
By default, the Snowflake Connector for Python converts the values from Snowflake data types to native 
Python data types. (Note that you can choose to return the values as strings and perform the type 
conversions in your application. See Improving Query Performance by Bypassing Data Conversion.


**Performing a Synchronous Query**

To perform a synchronous query, call the `execute()` method in the Cursor object. For example:

In [182]:
cur = conn.cursor()
try:
    # we are already mentioned what database, warehouse and schema have to use
    print(cur.execute('select * from mock_data'))
except Exception as ex:
    print(ex)

<snowflake.connector.cursor.SnowflakeCursor object at 0x7fe465807700>

**Performing an `Asynchronous` Query**

In [183]:
async_query = cur.execute_async('''ALTER TABLE mock_data
                            ADD date_of_birth DATE ;''')
async_query

{'queryId': '01a94ee4-0000-df9b-0000-0000d31155cd',
 'getResultUrl': '/queries/01a94ee4-0000-df9b-0000-0000d31155cd/result',
 'queryAbortsAfterSecs': 300,
 'progressDesc': None}

Checking the Status of a Query

In [184]:
if conn.get_query_status(async_query.get('queryId')).name == 'SUCCESS':
    print('query exceqution is finished')
else:
    print('Query exceqution is not finised')

query exceqution is finished

**To retrieve the results of the query**

Get the results from a query.

In [185]:
async_query = cur.execute_async('''select * from mock_data;''')
cur.get_results_from_sfqid(async_query.get('queryId'))
results = cur.fetchall()
print(f'{results[0]}')

(1, 'Lewie', 'Connah', 'lconnah0@jugem.jp', 'Male', '10.35.171.161', None)

**Retrieving the Snowflake Query ID** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#retrieving-the-snowflake-query-id)

A query ID identifies each query executed by Snowflake. When you use the Snowflake Connector for Python to execute a query, you can access the query ID through the sfqid attribute in the Cursor object:

In [186]:
# Retrieving a Snowflake Query ID
# cur = conn.cursor()
cur.execute("SELECT * FROM mock_data")
print(cur.sfqid)

01a94ee4-0000-df91-0000-0000d3114619

**Using cursor to Fetch Values** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#using-cursor-to-fetch-values)

Fetch values from a table using the cursor object iterator method.

For example, to fetch columns named `first_name` and `last_name` from the table named testtable, which was created earlier (in Creating Tables and Inserting Data), use code similar to the following:

In [187]:
cur = conn.cursor()
try:
    cur.execute("SELECT first_name, last_name FROM mock_data ORDER BY first_name")
    for (first_name, last_name) in cur:
        print('{0}, {1}'.format(first_name, last_name))
except Exception as ex:
    print(ex)
# finally:
    # cur.close()

Aarika, Rubke
Abbe, McKenny
Abbie, Vasser
Abbye, Probet
Abie, Le Cornu
Abigale, Sydes
Adah, Prover
Adan, Savory
Adrian, Ramberg
Aggi, Tebboth
Ainslee, Melloi
Alameda, Eam
Alanah, Starzaker
Aldin, Marmion
Aldin, Clyma
Aldus, Flann
Aldwin, Burrells
Aleda, Grimme
Alexi, Bawden
Alexine, Carnegy
Alfie, Silverstone
Alford, Newbegin
Alfred, Bartolomeotti
Ali, Errington
Alick, Haps
Alla, Tiernan
Allie, Elmore
Allie, Kinchlea
Alma, Kevane
Aloysia, Fuggles
Alphard, Deschelle
Alphard, Egdal
Alvan, Kew
Alvy, Rentalll
Alyosha, Martinetto
Alyosha, Brunt
Alysia, Giorgielli
Amalita, Dunan
Amata, Sheffield
Ambrosi, Cristoforetti
Anatol, Verson
Ancell, Bott
Andreas, Keith
Andriana, Thiese
Angelina, MacCahey
Anna-diane, Noads
Annadiane, Kowalik
Anne, Adlem
Annice, Broggetti
Antonietta, Ceci
Arabelle, Wilcocke
Archambault, Kupec
Ardith, Cade
Aretha, Fairholme
Aridatha, Le Barr
Arie, Fargher
Aristotle, Mitchenson
Arlen, Levene
Arlene, Shillinglaw
Arliene, Windless
Arlina, Simic
Arly, Quincey
Armin, Laurisch
Arne, Bowerbank
Arri, Gwinnell
Artie, Meneghelli
Arty, Cobelli
Ash, Morican
Ashby, Squirrell
Ashely, Beals
Astrid, Koop
Audy, Yitzovitz
Auguste, Janton
Aurelia, Skiggs
Aurelie, Ebi
Averyl, Garroway
Aylmer, Botting
Babb, Mingo
Ban, Roskilly
Bar, Romeuf
Barbara-anne, Greedier
Barnard, Clyne
Barny, Tuff
Barrett, Foxen
Barron, Lydiard
Bartlet, Daglish
Basia, Place
Beale, Battany
Bellina, Matanin
Bendick, Choulerton
Bendix, Goghin
Benedikt, Viggars
Bennett, Crosi
Bennie, O'Henery
Bernardo, Alam
Bernice, McLoughlin
Berny, Palombi
Berri, d'Arcy
Bertrand, Dy
Bertrand, Lockey
Betsey, Paladini
Betty, Roser
Beulah, Szymanzyk
Bevan, Gilsthorpe
Biddie, Hubback
Bill, Hopkins
Bill, Boule
Billy, Works
Birk, Dionisio
Blake, Deveral
Blithe, Frisdick
Blondy, Halvorsen
Bobbi, Wilshaw
Bobina, Chattaway
Bondie, Krinks
Boony, McLanaghan
Brad, Cummings
Brade, Pleming
Brady, Pickford
Branden, Lochead
Branden, Plaide
Brandy, Stower
Bret, Liston
Brett, Cragg
Bridie, Spackman
Bridie, Linklet
Brigg, Canet
Brigitta, Wenderott
Britt, Joiner
Brooke, Zamora
Bruno, Pierton
Bryn, Jerrold
Buckie, Bazylets
Bud, Clavering
Buddy, Bramo
Burnaby, Gilbanks
Cacilia, Marshall
Caleb, Echalie
Calvin, Kyne
Camellia, Sneezum
Camile, Warry
Candice, Villaron
Candida, Ruddoch
Candis, Van Castele
Caralie, Cardall
Carey, Hollingdale
Carin, Startin
Carin, Pinckney
Cariotta, Pohlke
Carlen, Stothert
Carleton, Von Helmholtz
Carlos, Edgson
Carmel, Iacobetto
Carney, Gainsboro
Carolus, Lambertazzi
Carr, Isakovitch
Carver, Sollas
Case, Ollander
Casey, Bruntje
Casey, Yurikov
Cassandra, Lapish
Caty, Geaveny
Cazzie, Gendricke
Celestina, Trime
Chanda, Donkersley
Charin, Aleksandrev
Charmine, Ralton
Chen, Medlar
Cherie, Langsdon
Cherie, Palfree
Chic, Walding
Chloe, Setterington
Christiane, Maudlin
Christina, Shankle
Christoph, Aikett
Christye, Tedder
Chryste, Lewinton
Chrystel, Annwyl
Cicely, Shawell
Cindy, Dillicate
Cinnamon, Kauscher
Cirillo, Neggrini
Clarabelle, Condliffe
Clarabelle, Flaverty
Clare, Farryn
Clareta, Woodstock
Clarissa, Copner
Clark, Bosence
Claudette, Goeff
Claudianus, Coyne
Claudio, Phayre
Clayborne, Canwell
Cleavland, Hanalan
Clementius, Sommer
Clementius, Blandamore
Clemmy, Hill
Clevie, Laming
Clywd, Fick
Colette, Winear
Colin, Duckerin
Collette, Lande
Collin, Sibun
Conney, Fleetham
Conrado, Creer
Consolata, Goodsell
Constancy, Donoghue
Constantin, Jerisch
Cooper, Mulchrone
Cordelia, Porte
Corey, Nyland
Cori, Pala
Cori, Craister
Coriss, Snashall
Cornell, Loud
Cornie, Karle
Cory, Gonnel
Courtney, Bellord
Cozmo, Pollitt
Crichton, Inglesant
Cris, Salvidge
Cristabel, Slaight
Cristobal, Bazely
Cyrille, Bracknall
Dacie, Paskins
Daile, Effnert
Dalenna, Frances
Dalia, Massard
Dallas, Gealle
Dalli, Keys
Dana, Really
Danita, Shermar
Dareen, Rentz
Daren, Tibalt
Daria, Drewes
Darice, Schimoni
Darin, Lippiello
Darlleen, Swett
Darnell, Aspenlon
Daron, Bummfrey
Davin, Suter
Dean, D'Adamo
Deane, Etherson
Deanna, Elizabeth
Debbie, Freathy
Delinda, Korfmann
Delmar, Fergie
Delora, Mordin
Demeter, MacNaughton
Den, Annesley
Denise, MacConnulty
Dennet, Hallum
Denny, Harman
Denys, Bawme
Deonne, Dufaire
Der, Gedge
Derek, Jarmyn
Devin, Pirkis
Devondra, Mabb
Devy, White
Dex, Baruch
Diana, Metzing
Dianemarie, Kimbury
Dietrich, Bolzmann
Dillie, Snasdell
Dino, Abrahamovitz
Dionisio, Cathesyed
Dode, Blenkinship
Doll, Manterfield
Domenic, Rennebeck
Domenic, Bradford
Domeniga, Stych
Domini, Innot
Donal, Grunder
Donielle, Yakebovich
Dore, Kinchin
Dorisa, Adriani
Dorotea, Drissell
Dorothee, Hodgets
Dov, Bidwell
Druci, Dowty
Drucy, Roo
Duffy, Asher
Dulciana, Naismith
Durward, Pittham
Dwain, Cassley
Eal, Goligher
Earlie, Meaddowcroft
Eba, Scotchmor
Eberhard, Noon
Edithe, Caneo
Ediva, Feenan
Eduino, Kleisle
Edvard, Meneer
Efren, Hesbrook
Eileen, Stanbury
Eirena, Mewes
Elane, Naisbet
Electra, Gracewood
Eleen, Dowe
Elene, Berryann
Elga, Tussaine
Elianore, Joire
Elias, Metrick
Elicia, Deighton
Elie, Cockley
Elinor, Avrahamoff
Ellis, Mercik
Ellis, Amiranda
Elmer, Stott
Eloisa, Gilley
Elwyn, O'Corrigane
Em, Rapier
Emelyne, Liffe
Emile, Benois
Emlyn, Arnholz
Emmalynn, McCrae
Enos, Stear
Enrico, Gumme
Erasmus, Ellinor
Erl, Le Sieur
Ermentrude, Millott
Estrella, Celand
Ethelbert, Wearden
Eugenio, Capsey
Eugenius, Bread
Eula, Breeton
Eustace, Sneesbie
Evelyn, Georgeau
Evonne, Linguard
Eziechiele, Ramsden
Fabien, Cleeves
Fanny, Lyfield
Farrah, McBryde
Faulkner, Gloves
Fawne, Town
Fay, Bartoloma
Filberte, Stendall
Filberto, Jilliss
Findley, Bassick
Fionnula, Itzkin
Fletcher, Bibby
Florian, Dhennin
Florian, Cossell
Florina, Salvage
Fonz, Tumility
Franny, Purrier
Franny, Cheales
Frans, Rosso
Frasier, Yakobowitz
Frazer, Duggan
Frederic, Figger
Frederik, Klousner
Fredrick, Phelip
Freemon, Tefft
Fulton, Maxstead
Gabbie, Sellar
Gabbie, Balk
Gabriela, Gatley
Gae, Maxwaile
Gael, Connaughton
Gaelan, Buttrey
Garik, Howels
Garnette, Brammall
Garrott, Mitchiner
Garvin, Stanyforth
Garwood, Locker
Gaspar, Carlett
Gavra, Collete
Gay, Molyneaux
Georas, Preedy
Georas, Drinkhill
Geordie, Wedlock
Georgeanna, Richt
Georgena, Legge
Georgiana, Harley
Georgianna, Gillcrist
Geri, Marrows
Germain, Finlator
Germaine, Alger
Germana, Eschalotte
Giffer, Sentinella
Giffy, Schult
Gilberte, Cettell
Gilberto, St Clair
Gill, Melbourn
Gino, Wardingley
Giovanna, Grubbe
Giselle, McMonnies
Goddart, Beslier
Godfree, Heimes
Goldarina, Dyer
Gracia, Oakey
Grant, Laming
Gray, Flecknoe
Grayce, Treacher
Greggory, Fulbrook
Gregoor, Gouldie
Griff, Sully
Griz, Meedendorpe
Griz, Laddle
Gun, Pethrick
Gunter, Broschek
Gunther, Burrill
Guss, Giabucci
Gustavus, Cradduck
Gwenneth, Bome
Gwenni, Thorne
Gwenny, Berre
Hadleigh, Beebis
Hakim, Simenet
Ham, Stigers
Hamil, Marquand
Hamilton, Obington
Hank, MacConnulty
Harley, Killingbeck
Harris, Abelwhite
Hart, Brace
Hart, Flanaghan
Harvey, Ruppertz
Hayes, Dunning
Hayyim, McVeighty
Heather, Coddington
Henri, Maffy
Henrik, Wabe
Hermann, Sponder
Hermia, Milham
Hermione, Fronczak
Hermon, Fenn
Hernando, Crichley
Hersh, Sheere
Hildy, Bride
Hilly, Jozaitis
Hobart, Beverstock
Hobey, Gyenes
Hollis, Scurman
Holly, O' Faherty
Hope, Hanratty
Horace, Clemas
Horatio, Merkel
Hortensia, Reckus
Howard, Parlot
Hugh, Hourahan
Hulda, Delacour
Hunter, Findley
Huntington, Wegenen
Husein, Overstreet
Hussein, Lydiatt
Hyatt, Culligan
Ibby, Hynam
Igor, Zuanazzi
Ilario, MacKimm
Ileana, Trim
Inesita, Caret
Inge, Zumbusch
Inge, Kirwan
Ingeberg, Sandhill
Ingrim, Aberchirder
Isaac, Bigglestone
Isidora, Champkin
Israel, Statton
Izaak, Andrag
Jacintha, Labrum
Jacklyn, Locket
Jacklyn, Piscopo
Jacquette, Lorden
Jacqui, Martinets
Jae, Ivens
Jaime, Clemintoni
Jake, Worham
Jakie, Gerry
Jamaal, Hansana
Jamey, Baulk
Jan, McTrustey
Jane, Ogilvie
Janot, Zecchi
Jaquith, Fieldhouse
Jay, Anselmi
Jayme, Vardon
Jaymee, Hartfleet
Jdavie, Polak
Jeffie, Rummin
Jeffry, McNalley
Jelene, Philipeaux
Jemimah, Malinowski
Jen, Grigori
Jeramey, Faughnan
Jermain, Bemwell
Jerrie, Bachs
Jess, Dignon
Jocelyne, Gerardeaux
Jock, Baildon
Jody, Howgill
Joelle, Gutherson
Joey, Ogbourne
Johannes, Zecchinelli
Jonathan, Shapcote
Jorgan, Gilligan
Josefa, Clail
Josephina, Burgis
Josephine, Dayley
Joshia, Spurdens
Joshuah, Kindley
Joyce, Lambricht
Joye, Ditchburn
Judd, Janowicz
Judye, Wiggins
Juieta, Broderick
Julius, Lambirth
Justen, Stiant
Justinian, Mattys
Kaine, Willmore
Kaja, Gwalter
Kale, Bremmell
Kaleb, Creaney
Kaleb, Viggers
Kally, Ummfrey
Kara-lynn, Warry
Kare, Chalkly
Karee, Childs
Karie, Smythe
Karissa, Grabbam
Karlan, Vandrill
Karole, Lewsie
Karrie, Dessent
Kaspar, Guwer
Kat, Aspell
Kate, Dedden
Katerine, Mayne
Katey, Haycraft
Kath, Oakland
Katha, Clericoates
Kathrine, Extill
Kathrine, Capnerhurst
Kati, Gouldstraw
Katrina, Ruddoch
Kayley, Dewing
Kaylyn, Martynikhin
Keary, Marsay
Keefe, Morston
Kellen, Rosenstiel
Kellen, Poskitt
Kellie, Perulli
Kelly, Filyashin
Kelsi, Burvill
Ken, Pugsley
Kendall, Harmes
Kendall, Schohier
Kennan, Boast
Keriann, Fearenside
Kermit, Innwood
Kerwinn, Kingscott
Ki, Grabiec
Kilian, Milburn
Kimball, Granger
Kimball, Shugg
Kimberlyn, Rowantree
Kimble, Cassely
King, Paffett
Kirk, Newbegin
Kirstin, Snasel
Kissie, Swaisland
Kitty, Chasteney
Kleon, Hutchason
Koenraad, Ensor
Kort, Brunker
Krishnah, Cleef
Kristi, Dutteridge
Kristian, Devin
Kristos, Moyer
Krystal, Blamires
Lanie, Ivanisov
Larry, Guess
Laurent, Doppler
Layne, Mortel
Lea, Dench
Lefty, Silveston
Leonerd, Navaro
Leonhard, Haggett
Leroy, Biddlecombe
Lesli, Magnar
Leslie, Coddington
Leupold, Birney
Lewes, Chasles
Lewie, Connah
Lezley, Farndon
Lia, Verdie
Liana, Slaight
Lilla, Belvard
Linc, Fidgin
Lind, Dufaur
Lindi, Coggeshall
Lindsy, Woodford
Linette, Rosenau
Linnie, Gyrgorcewicx
Linoel, Munroe
Lockwood, Dollen
Lona, Roo
Loren, Cullip
Lorens, Simison
Lorne, Beslier
Loutitia, Weekly
Lowe, Verbeke
Luce, Gilleon
Lucho, Arrigo
Lucian, Trewman
Lucian, McGinn
Lucie, McCrum
Ludwig, Scane
Luelle, Piesold
Lulita, Hallums
Lura, Sobieski
Lydon, Burcombe
Maddie, Boydle
Madelin, Seabrook
Madge, Pitrelli
Madonna, Jecock
Magdalene, Standage
Mahmud, Menat
Maia, Pleass
Maison, Varian
Maison, Fennick
Maitilde, Guard
Major, Guthrie
Major, Gidley
Malina, Mulvy
Malva, Wilcinskis
Malvina, Edmead
Marcello, Conre
Marcellus, Mabb
Marcos, Body
Margarete, Gettone
Margret, Frayn
Mariann, Jennins
Marilyn, Caple
Marja, Batho
Marjorie, McAndie
Mark, Downer
Markos, Clynter
Markos, Loyley
Marlane, Fransinelli
Marleah, Conrad
Marline, Demangeon
Marline, Bracken
Marlo, Tatteshall
Marris, Halleybone
Marris, Stone Fewings
Marrissa, Stapforth
Marsh, Burrill
Marty, Kelinge
Marve, Bentson
Marwin, Pearch
Marylynne, Oager
Marylynne, Struys
Mattheus, Skevington
Mattie, Stenett
Matty, Casper
Maud, Lee
Maurits, Serrels
Maurizia, Harding
Maxie, Banke
Maynord, Rawsthorne
Meaghan, Lysons
Meir, Sanson
Melisenda, Verbeke
Meyer, Grindlay
Mia, Hildrew
Michaelina, Wotherspoon
Michele, Androck
Michelina, Flaws
Micki, Pick
Mignon, Rasp
Mignon, Bineham
Mikol, Cubberley
Millisent, Oxton
Minnnie, Swayland
Minta, Paolacci
Mirabel, Yarmouth
Miran, Bassick
Missie, MacElharge
Modesta, Baselli
Mohandis, Linthead
Moina, Dalzell
Moises, Eastridge
Mommy, Wallage
Monah, Bartalini
Monah, Bresman
Monique, Berzen
Monro, Millmoe
Morgen, Sneyd
Morie, Agett
Moses, Laverty
Murdoch, Handy
My, Fried
Myles, Esser
Myrilla, Ronisch
Nada, Schooley
Nancy, Ponting
Nanete, Beardsdale
Nari, Jeckell
Nata, Bartozzi
Natalina, Tiddeman
Natalya, Ginni
Nate, Felder
Natividad, Moxom
Natka, Northrop
Natty, Corringham
Natty, Wimbridge
Nerita, Meadmore
Nerita, Buckleigh
Nero, Shelbourne
Nerti, Froud
Nev, Aguilar
Nevin, Aylward
Neysa, Ricarde
Nickie, Challenger
Nicolas, Hedgeman
Nikaniki, Barden
Niki, Godspeede
Nikki, Dunmore
Nikolaus, Abells
Ninette, Dudmarsh
Nita, Trice
Noell, Meadway
Nolie, Farland
Norbie, Andrea
Norrie, Oliver-Paull
Norry, Desmond
Norton, McCobb
Obediah, Brodway
Obie, Kensitt
Oby, Skarr
Ogdon, Jamieson
Olivier, Avery
Oralie, Ingman
Oralie, Lafayette
Orelle, Delcastel
Orren, Devany
Osbert, Emms
Pammy, Stubbes
Parke, Napper
Parry, Calken
Pat, Jammet
Pat, Yakunin
Patricio, Masseo
Patsy, Jenno
Paula, Lait
Pauly, Pantlin
Peadar, Armiger
Pearle, Simner
Peg, Attwood
Peggie, Sulland
Peirce, Spencelayh
Penny, Tejada
Penrod, Gribbin
Perla, Readett
Perry, Tanner
Pete, Killiam
Phillipp, Ferrers
Phyllys, Bariball
Phylys, Van Schafflaer
Pier, Maciaszczyk
Pieter, Ishaki
Pietro, Blaszczyk
Pippy, Breffitt
Portie, Hallowes
Powell, Hurley
Pren, Nannini
Prentice, Ind
Prentiss, Peart
Prentiss, Rodrigues
Prince, McCaig
Pris, Twelves
Prudence, Granleese
Pryce, Slides
Puff, Malia
Pyotr, Lemerie
Quint, Banbridge
Quinton, Gather
Raddie, Codman
Ragnar, Le Hucquet
Raimund, Rentcome
Raimund, Bonnyson
Raimundo, Hannigan
Ralina, Leuchars
Ralina, Ciotti
Randa, Dello
Randal, Richardet
Randolf, Dufaire
Randy, Burnie
Ranna, Papworth
Ransom, Syres
Ransom, Hubbard
Ravid, Alleburton
Reade, McGlashan
Reba, Harroway
Rebe, Normand
Reeba, Bletcher
Reena, Driffill
Reginauld, Brumen
Reinhold, Meneo
Renato, Radish
Rene, Starte
Renee, Sparham
Reube, Costley
Reyna, Bulch
Rheta, O'Reagan
Rhodia, Thumnel
Rhodie, Tillett
Rhody, Mifflin
Richard, Sappell
Richy, Cowap
Rickard, Schoenrock
Rickert, Keyzor
Ricki, Sausman
Ricky, Ashbolt
Rik, Blasik
Riki, Freschini
Rikki, Gorton
Rina, Beverage
Riobard, Seedull
Rip, Glassford
Ritchie, Bedberry
Roanne, Scantleberry
Robers, Duckit
Robert, Twamley
Robinson, Sacchetti
Rockie, Lalonde
Roddy, Bollini
Roderic, Woof
Romola, Tomaskunas
Romonda, Siley
Rory, Wildber
Rosalynd, Hollyland
Rosanne, Fiddeman
Roseann, Shemmin
Roseann, Cullen
Roselle, Rosle
Rowena, Tutin
Roze, Vigar
Rusty, Pedlar
Rutter, Rugge
Ruttger, Houlison
Ryan, Wallwork
Ryon, Spottswood
Ryun, Surgood
Salomon, Manifould
Salvatore, Grosvener
Sammie, Eginton
Sapphira, Hirche
Sara-ann, Ebbin
Saree, MacAndrew
Sarena, Sallter
Saunderson, Pierucci
Sayer, Christensen
Scarface, Witchell
Sebastian, Shingles
Selinda, Bagnal
Serena, Chitty
Serene, Gillice
Seumas, Sinden
Shae, Muzzollo
Shamus, Swatten
Shanta, Dmtrovic
Shantee, Emeny
Sharline, Menichelli
Shaun, Foyston
Shauna, Carnell
Shaw, Polgreen
Shaw, Maasz
Shawnee, Bowra
Shaylyn, Merrifield
Sheeree, Lippett
Sheeree, Askaw
Sheff, Bernardt
Shelley, Chalker
Sibeal, Mullane
Sibley, Corradino
Sibyl, McSkin
Sibylla, Lilleman
Sibylla, Corton
Silvano, Wallace
Silvanus, Domeney
Simon, Fotherby
Sinclair, Guice
Sinclare, Simondson
Sisely, Fielden
Skip, Breadmore
Skipper, Jacobsohn
Sol, Lawie
Solly, Duplan
Solly, Bartosch
Son, Whyman
Sophey, Corrett
Sosanna, Gotter
Standford, Yerrington
Stearn, Burnall
Stephana, Winspar
Stephen, Scotchmore
Stephie, Perello
Stevena, Betteridge
Storm, Roger
Sunny, Shenton
Susanne, Bellhanger
Susie, Gilbertson
Suzette, Harpin
Sylas, Jekyll
Sylvan, Benoi
Sylvan, Beavon
Sylvia, Skeech
Tad, Schoroder
Taddeusz, Costy
Taffy, Coytes
Tait, Matkovic
Tanny, Seller
Ted, Hallihane
Tedie, Bahlmann
Tedman, Chauvey
Templeton, Pech
Templeton, Emburey
Teodor, McQuaid
Teodora, Atterbury
Teodoro, MacAlpyne
Teressa, Haslock(e)
Tessy, Yukhin
Thain, Leftridge
Thebault, Bellhanger
Theodosia, Duffree
Thibaut, Burnsyde
Thorpe, Mathie
Tiff, Cambden
Tilda, Smaleman
Tim, Parysowna
Tisha, Seamon
Tobias, Rawstorn
Toby, Morad
Torrance, Bille
Torrin, Veltmann
Torry, Teodori
Tracey, Byfford
Tracie, Emberton
Trefor, Joul
Tresa, Yushachkov
Trip, Creaser
Tristan, Ventom
Trstram, Middlebrook
Tully, Shepstone
Tynan, Oneile
Tyrone, Hakey
Tyrus, Gullane
Udell, Giacometti
Ulick, Kliment
Ulrica, Wooton
Umberto, Fernyhough
Urbain, Tunnacliffe
Uriah, Clubley
Uta, Pattle
Valaree, Loseke
Valentino, Eadon
Vaughan, Kinver
Velvet, Busfield
Venus, Perton
Vernen, Wilse
Vernor, Thorsby
Victoir, Kear
Victoir, Bridgement
Vin, MacKerley
Vincent, Amery
Vinny, Flanne
Virgilio, Wasling
Viviene, Scrowton
Vladamir, Aylott
Wainwright, Chesters
Walker, Franseco
Wallie, Pittel
Walt, Olohan
Warner, Skrzynski
Waylon, Thursfield
Weber, Clavey
Wells, Sains
Wernher, Swindin
Wes, Ingley
Westbrook, Bestwall
Westleigh, Abelov
Whitaker, Endon
Wilek, Totman
Willard, Dugget
Willem, Cage
Winnifred, Ainscough
Xenia, Haimes
Xenia, Snare
Xerxes, Frandsen
Yancey, Lambersen
Yard, Cockarill
Yevette, Arr
York, Dinneges
Zachary, Popping
Zea, Betterton
Zebadiah, Duckerin
Zena, Kerswell
Zola, Trowsdale

Alternatively, the Snowflake Connector for Python provides a convenient shortcut:

In [188]:
# for (col1, col2) in conn.cursor().execute("SELECT first_name, last_name FROM mock_data"):
#     print('{0}, {1}'.format(col1, col2))

# If you need to get a single result (i.e. a single row), use the fetchone method:

col1, col2 = conn.cursor().execute("SELECT first_name, last_name FROM mock_data").fetchone()
print('{0}, {1}'.format(col1, col2))

# If you need to get the specified number of rows at a time, use the fetchmany method with the number of rows:
cur = conn.cursor().execute("SELECT first_name, last_name FROM mock_data")
ret = cur.fetchmany(3)
print(ret)
# while len(ret) > 0:
#     ret = cur.fetchmany(3)
#     print(ret)

Lewie, Connah
[('Lewie', 'Connah'), ('Fionnula', 'Itzkin'), ('Pauly', 'Pantlin')]

If you need to get all results at once: `fetchall`

In [189]:
results = conn.cursor().execute("SELECT TOP 5 first_name, last_name FROM mock_data").fetchall()
for rec in results:
    print('%s, %s' % (rec[0], rec[1]))

Lewie, Connah
Fionnula, Itzkin
Pauly, Pantlin
Powell, Hurley
Prentiss, Rodrigues

**Using the Timer in the query**

To set a timeout for a query, execute a `begin` command and include a timeout parameter on the query. If the query exceeds the length of the parameter value, an error is produced and a rollback occurs.

In the following code, error 604 means the query was canceled. The timeout parameter starts `Timer()` and cancels if the query does not finish within the specified time.

In [190]:
conn.cursor().execute("create or replace table testtbl(a int, b string)")

conn.cursor().execute("begin")
try:
   conn.cursor().execute("insert into testtbl(a,b) values(3, 'test3'), (4,'test4')", timeout=10) # long query

except ProgrammingError as e:
   if e.errno == 604:
      print("timeout")
      conn.cursor().execute("rollback")
   else:
      raise e
else:
   conn.cursor().execute("commit")

print('timer')

timer

**Using `DictCursor` to Fetch Values by Column Name**

If you want to fetch a value by column name, create a `cursor` object of type `DictCursor`.

In [191]:
# Querying data by DictCursor
from snowflake.connector import DictCursor
cur = conn.cursor(DictCursor)
try:
    cur.execute("SELECT TOP 5 first_name, last_name FROM mock_data")
    for rec in cur:
        print('{0}, {1}'.format(rec['FIRST_NAME'], rec['LAST_NAME']))
finally:
    cur.close()

Lewie, Connah
Fionnula, Itzkin
Pauly, Pantlin
Powell, Hurley
Prentiss, Rodrigues

**Improving Query Performance by Bypassing Data Conversion** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#improving-query-performance-by-bypassing-data-conversion)

To improve query performance, use the `SnowflakeNoConverterToPython` class in the snowflake.connector.converter_null module to bypass data conversions from the Snowflake internal data type to the native Python data type, e.g.:

In [192]:
from snowflake.connector.converter_null import SnowflakeNoConverterToPython

# con = snowflake.connector.connect(
#     ...
#     converter_class=SnowflakeNoConverterToPython
# )

conn_ = snowflake.connector.connect(
    user=os.getenv('SNOWFLAKE_USER'),
    password=os.getenv('SNOWFLAKE_PASSWORD'),
    account=os.getenv('SNOWFLAKE_ACCOUNT'),
    warehouse=os.getenv('SNOWFLAKE_WAREHOUSE'),
    database=os.getenv('SNOWFLAKE_DATABASE'),
    schema=os.getenv('SNOWFLAKE_SCHEMA'),
    # private_key=os.getenv('SNOWFLAKE_PRIVATE_KEY'),

    converter_class=SnowflakeNoConverterToPython,

    session_parameters={
        'QUERY_TAG': 'snow-test',
    }
)


for rec in conn_.cursor().execute("SELECT TOP 5 * FROM testdb_mg.testschema_mg.mock_data"):
    # rec includes raw Snowflake data
    print(rec)

(1, 'Lewie', 'Connah', 'lconnah0@jugem.jp', 'Male', '10.35.171.161', None)
(2, 'Fionnula', 'Itzkin', 'fitzkin1@1und1.de', 'Female', '5.23.72.180', None)
(3, 'Pauly', 'Pantlin', 'ppantlin2@mlb.com', 'Female', '189.217.213.121', None)
(4, 'Powell', 'Hurley', 'phurley3@msu.edu', 'Male', '159.241.127.39', None)
(5, 'Prentiss', 'Rodrigues', 'prodrigues4@jimdo.com', 'Male', '168.204.224.114', None)

**Binding Data** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#binding-data)

To specify values to be used in a SQL statement, you can include literals in the statement, or you can bind variables. When you bind variables, you put one or more placeholders in the text of the SQL statement, and then specify the variable (the value to be used) for each placeholder.

**Literals:**

In [193]:
conn.cursor().execute("INSERT INTO mock_data(id,first_name, last_name, email, ip_address) VALUES(1001,'Antony', 'Kumar', 'antony@gmail.com', '192.3.0.3')")
for rec in conn.cursor().execute("select * from mock_data where id>=1000"):
    print(rec)

(1000, 'Gabriela', 'Gatley', 'ggatleyrr@epa.gov', 'Female', '168.212.228.254', None)
(1001, 'Antony', 'Kumar', 'antony@gmail.com', None, '192.3.0.3', None)

**Binding:**

Snowflake supports the following types of binding:

* `pyformat` and `format`, which bind data on the client.

* `qmark` and `numeric`, which bind data on the server.

In [194]:
conn.cursor().execute(
    "INSERT INTO mock_data(id,first_name, last_name, email, ip_address) "
    "VALUES(%s, %s, %s, %s, %s)", (
        1002,
        'settu',
        'pillai',
        'settu@gmail.com',
        '192.0.3.2'
    ))
for rec in conn.cursor().execute("select * from mock_data where id>=1000"):
    print(rec)

(1000, 'Gabriela', 'Gatley', 'ggatleyrr@epa.gov', 'Female', '168.212.228.254', None)
(1001, 'Antony', 'Kumar', 'antony@gmail.com', None, '192.3.0.3', None)
(1002, 'settu', 'pillai', 'settu@gmail.com', None, '192.0.3.2', None)

**Retrieving Column Metadata** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#retrieving-column-metadata)

To retrieve metadata about each column in the result set (e.g. the name, type, precision, scale, etc. of each column), use one of the following approaches:

* To access the metadata after calling the `execute()` method to execute the query, use the description attribute of the Cursor object.

* To access the metadata without having to execute the query, call the `describe()` method.

The describe method is available in the Snowflake Connector for Python 2.4.6 and more recent versions.

**Example: Getting the column name metadata by index (versions 2.4.5 and earlier):**

The following example uses the `description` attribute to retrieve the list of column names after executing a query. The attribute is a list of ResultMetaData objects, and the example accesses the column name from the name attribute of each ResultMetadata object.

In [195]:
cur = conn.cursor()
cur.execute("SELECT * FROM mock_data")
print(','.join([col[0] for col in cur.description]))
cur.description

ID,FIRST_NAME,LAST_NAME,EMAIL,GENDER,IP_ADDRESS,DATE_OF_BIRTH

[ResultMetadata(name='ID', type_code=0, display_size=None, internal_size=None, precision=38, scale=0, is_nullable=True),
 ResultMetadata(name='FIRST_NAME', type_code=2, display_size=None, internal_size=16777216, precision=None, scale=None, is_nullable=True),
 ResultMetadata(name='LAST_NAME', type_code=2, display_size=None, internal_size=16777216, precision=None, scale=None, is_nullable=True),
 ResultMetadata(name='EMAIL', type_code=2, display_size=None, internal_size=16777216, precision=None, scale=None, is_nullable=True),
 ResultMetadata(name='GENDER', type_code=2, display_size=None, internal_size=16777216, precision=None, scale=None, is_nullable=True),
 ResultMetadata(name='IP_ADDRESS', type_code=2, display_size=None, internal_size=16777216, precision=None, scale=None, is_nullable=True),
 ResultMetadata(name='DATE_OF_BIRTH', type_code=3, display_size=None, internal_size=None, precision=None, scale=None, is_nullable=True)]

**Example: Getting the column name metadata by attribute (versions 2.4.6 and later):**

The following example uses the `describe` method to retrieve the list of column names without executing a query. The `describe()` method returns a list of ResultMetaData objects, and the example accesses the column name from the name attribute of each ResultMetadata object.

In [196]:
cur = conn.cursor()
result_metadata_list = cur.describe("SELECT * FROM mock_data")
print(','.join([col.name for col in result_metadata_list]))

ID,FIRST_NAME,LAST_NAME,EMAIL,GENDER,IP_ADDRESS,DATE_OF_BIRTH

**Handling Errors** [CLICK HERe](https://docs.snowflake.com/en/user-guide/python-connector-example.html#handling-errors)

The application must handle exceptions raised from Snowflake Connector properly and decide to continue or stop running the code.

In [197]:
# Catching the syntax error
cur = conn.cursor()
try:
    cur.execute("SELECT * FROM testtable")
except snowflake.connector.errors.ProgrammingError as e:
    # default error message
    print(e)
    # customer error message
    print('Error {0} ({1}): {2} ({3})'.format(e.errno, e.sqlstate, e.msg, e.sfqid))
finally:
    print('-----CLOSE THE CONNECTION----')
    cur.close()

002003 (42S02): SQL compilation error:
Object 'TESTTABLE' does not exist or not authorized.
Error 2003 (42S02): 002003 (42S02): SQL compilation error:
Object 'TESTTABLE' does not exist or not authorized. (01a94ee4-0000-df9b-0000-0000d31155ed)
-----CLOSE THE CONNECTION----

**Using execute_stream to Execute SQL Scripts**

The `execute_stream` function enables you to run one or more SQL scripts in a stream:

In [198]:
from codecs import open
with open('./sqlfile.sql', 'r', encoding='utf-8') as f:
    for cur in conn.execute_stream(f):
        for ret in cur:
            print(ret)
        print('--------------------------------------------------------------------------------')

(1, 'Lewie', 'Connah', 'lconnah0@jugem.jp', 'Male', '10.35.171.161', None)
(2, 'Fionnula', 'Itzkin', 'fitzkin1@1und1.de', 'Female', '5.23.72.180', None)
--------------------------------------------------------------------------------
(1, 'Lewie', 'Connah', 'lconnah0@jugem.jp', 'Male', '10.35.171.161', None)
(2, 'Fionnula', 'Itzkin', 'fitzkin1@1und1.de', 'Female', '5.23.72.180', None)
(3, 'Pauly', 'Pantlin', 'ppantlin2@mlb.com', 'Female', '189.217.213.121', None)
--------------------------------------------------------------------------------
(1, 'Lewie', 'Connah', 'lconnah0@jugem.jp', 'Male', '10.35.171.161', None)
(2, 'Fionnula', 'Itzkin', 'fitzkin1@1und1.de', 'Female', '5.23.72.180', None)
(3, 'Pauly', 'Pantlin', 'ppantlin2@mlb.com', 'Female', '189.217.213.121', None)
(4, 'Powell', 'Hurley', 'phurley3@msu.edu', 'Male', '159.241.127.39', None)
(5, 'Prentiss', 'Rodrigues', 'prodrigues4@jimdo.com', 'Male', '168.204.224.114', None)
--------------------------------------------------------------------------------
(1, 'Lewie', 'Connah', 'lconnah0@jugem.jp', 'Male', '10.35.171.161', None)
(2, 'Fionnula', 'Itzkin', 'fitzkin1@1und1.de', 'Female', '5.23.72.180', None)
--------------------------------------------------------------------------------

**Closing the Connection**

As a best practice, close the connection by calling the `close` method:

In [199]:
conn_.close()  # we created two connections one is 'conn' and 'conn_'

**Logging** [CLICK HERE](https://docs.snowflake.com/en/user-guide/python-connector-example.html#logging)

The Snowflake Connector for Python leverages the standard Python `logging` module to log status at regular intervals so that the application can trace its activity working behind the scenes. The simplest way to enable logging is call `logging.basicConfig()` in the beginning of the application.

In [206]:
# create a folder
import os
try:
    os.makedirs('./snowflake', 'log')
except:
    print('ok')

ok